# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcshareddata/xcschemes/

# Build
build/
DerivedData/

# macOS
.DS_Store

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/
